.signup-container {
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
    padding: 30px;
    background: #fff5e6;
    border: 1px solid #800020; 
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.signup-container h1 {
    margin-bottom: 10px;
}

.signup-container p {
    margin-bottom: 20px;
    color: #555;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup-form input {
    padding: 12px;
    border-radius: 25px;
    border: 2px solid #800020;
    outline: none;
    font-size: 14px;
}

.signup-form button {
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: #800020;
    color: beige;
    cursor: pointer;
    transition: 0.3s;
}

.signup-form button:hover {
    background: #a8324a;
}

.extra {
    margin-top: 15px;
    font-size: 14px;
}

.extra span {
    color: #800020;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
@media (max-width: 768px){


    .signup-container{
        margin: 50px 20px;
        padding: 25px 20px;
    }

}