.account-box {
    background: white;
    padding: 25px 15px;
    border-radius: 20px;
    text-decoration: none;
    color: #800020;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}
.account-box:hover {
    transform: translateY(-8px) scale(1.03);
    background: #800020;
    color: beige;
}
@media (max-width: 768px){

    .account-box{
        padding: 22px 15px;
    }

}