.category-filter {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 15px;
}
.category-filter::-webkit-scrollbar {
    display: none;
}
@media (max-width: 768px){
    .category-filter{
        gap: 15px;
        padding-bottom: 10px;
    }
}