 body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: #fff5e6;
  color: #800020;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}